* {
    padding: 0;
    margin: 0;
    color: rgb(78, 100, 61);
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1rem, 1vw, 2rem);
    box-sizing: border-box;
}

body {
    height: calc(100dvh - 0rem);
    height: calc(100dvh - 0rem);
    background-color: rgb(5, 5, 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.25rem;
}

.main {
    height: fit-content;
    width: clamp(15rem, 100vw, 20rem);
    border: 2px solid rgb(78, 100, 61);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    position: relative;
    overflow: hidden;
}

#title {

    overflow: hidden;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
}

.control {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: .25rem;
}

.buttons button {
    height: 2rem;
    width: 100%;
    background-color: transparent;
    border: 2px solid rgb(78, 100, 61);
    cursor: pointer;
}

.inputFolder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(78, 100, 61);
}

.folderBtn {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.visualizer {
    font-family: "Tiny5", sans-serif;
    white-space: pre;
    color: rgb(78, 100, 61);
    background: transparent;
    overflow: hidden;
    width: clamp(15rem, 100vw, 20rem);
    height: clamp(15rem, 100vh, 20rem);
    font-size: 10px;
    line-height: 1;
    border: 2px solid rgb(78, 100, 61);
    padding: 0.1rem;
}

